.img-fluid
{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
body {
	color: #fff;
	background: #3598dc;
	font-family: 'Roboto', sans-serif;
    background-image: url("pictures/pic33.jpg");
}


#passwordInput{
    width: 100%;
    display: flex;
    position: relative;
}
 #passwordInput input[type="password"], #passwordInput input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    font-size: 15px;
    
}

#passwordInput #showHide{
  font-size: 12px;
    font-weight: 600;
   position: absolute;
   color:red;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}
#passwordStrength{
    width: 30%;
    height: 5px;
    margin: 5px 0;
    display: none;
}
#passwordStrength span{
  position: relative;
  height: 100%;
  width: 100%;
  background: lightgrey;
  border-radius: 5px;
}
 #passwordStrength span:nth-child(2){
  margin: 0 3px;
}
#passwordStrength span.active:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
#passwordStrength span#poor:before{
  background-color: #ff4757;
}
#passwordStrength span#weak:before{
  background-color: orange;
}
#passwordStrength span#strong:before{
  background-color: #23ad5c;
}
#passwordInfo{
  font-size: 15px;
}
#passwordInfo #poor{
  color: red;
}
#passwordInfo #weak{
  color: orange;
}
#passwordInfo #strong{
  color: green;
}

.displayBadge{
	margin-top: 5%; 
	display: none; 
	text-align :center;}
.form-control {
	height: 41px;
	background: #f2f2f2;
	box-shadow: none !important;
	border: none;
}
.form-control:focus {
	background: #e2e2e2;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 400px;
	margin: 30px auto;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form h2  {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signup-form hr  {
	margin: 0 -30px 20px;
}    
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #3598dc;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #2389cd !important;
	outline: none;
}
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #3598dc;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}
.signup-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}